<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Classes</title>
</head>
<body>
    <header>
        <div class="links">
            <a class="" href="/">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>

    {% block content %}

    {% endblock content %}
    
</body>
</html>