{% extends "template/layout.njk" %}

{% block content %}

    <div class="card">
        <section class="image-card"> 
        </section>
        <section class="dados">
        
            <h3>Details</h3>
        
            <div class="item">
                <div>Teacher name</div>
                <div>Felipe Flores</div>
            </div>
            <div class="item">
                <div>Age</div>
                <div>19 years old</div>
            </div>
            <div class="item">
                <div>Education level</div>
                <div>school</div>
            </div>
            <div class="item">
                <div>Type of class</div>
                <div>Presential</div>
            </div>
            <div class="item">
                <div>Subjects</div>
                <div>
                    <span>Math</span>
                    <span>English</span>
                </div>
            </div>
            <div class="item">
                <div>Since</div>
                <div>12/09/2012</div>
            </div>

        </section>
    </div>


{% endblock content %}