{% extends "template/layout.njk" %}

{% block content %}

    <div class="card">
        <section class="image-card"> 
        </section>
        <section class="dados">
        
            <h3>Details</h3>
            <form action="/teachers" method="POST">
                <div class="item">
                    <div>URL of your picture</div>
                    <div><input type="url" name="teach_avatar"></div>
                </div>
                <div class="item">
                    <div>Your full name</div>
                    <div><input type="text" name="teach_name"></div>
                </div>
                <div class="item">
                    <div>Your date of birth </div>
                    <div><input type="date" name="years_old"></div>
                </div>
                <div class="item">
                    <div>Education level</div>
                    <div><select name="education_level" id="level">
                        <option value="Elementary School">Elementary school</option>
                        <option value="High School">High School</option>
                        <option value="College">College</option>
                    </select>
                </div>
                <div class="item">
                    <div>Type of class</div>
                    <div><span><input type="radio" name="radio_input" value="Classroom lesson">Classroom lesson</span>
                    <span><input type="radio" name="radio_input" value="Distance lesson">Distance learning</span>
                    </div>
                </div>
                <div class="item" id="teach">
                    <div>Teaching area</div>
                    <div><input type="text" name="teaching_area"></div>
                </div>
                <input type="submit" value="Sign In" id="btnSend">
            </form>
        </section>
    </div>


{% endblock content %}